@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 fw-bolder text-info">Welcome</h1>
    <h2 class="display-4 text-info">Blue Lotus 360</h2>
    <h2 class="display-4 text-info">Staff</h2>
    <h2 class="display-4 text-info"><i class="bi bi-flower3"></i></h2>
</div>
